<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <br />
    <h1>Learn to play upright bass.</h1>
    <br />
    <h2>Earn tens of dollars!</h2>
    <br />
    <br />
    <%= link_to 'Learn more', '#', class: 'btn btn-success' %>
    <br />
    <br />
  </div>
</div>