<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <br />
    <h1>Learn to play upright bass.</h1>
    <br />
    <h2>Earn tens of dollars!</h2>
    <br />
    <br />
    <%= link_to 'Learn more', '#', class: 'btn btn-success' %>
    <br />
    <br />
  </div>
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Lessons available in person or over the internet.</h3>
  </div>
  <div class="col-12 col-sm">
    <h3>Lessons customized to your strengths and weaknesses.</h3>
  </div>
  <div class="col-12 col-sm">
    <h3>Talk shop with a working musician.</h3>
  </div>
</div>
